name: Build using .NET Core

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Check for tabs
      run: |
        find "(" -name "*.cs" -or -name "*.lua" -or -name "*.jl" -or -name "*.lang" -or -name "*.xml" -or -name "*.yaml" -or -name "*.yml" -or -name "*.txt" -or -name "*.md" ")" -exec grep -Pl "\t" {} \; > matches.txt
        grep "" matches.txt && exit 1 || echo "No tab found!"
    - name: Check for CRLF
      run: |
        find "(" -name "*.cs" -or -name "*.lua" -or -name "*.jl" -or -name "*.lang" -or -name "*.xml" -or -name "*.yaml" -or -name "*.yml" -or -name "*.txt" -or -name "*.md" ")" -exec grep -Plz "\r\n" {} \; > matches.txt
        grep "" matches.txt && exit 1 || echo "No CRLF found!"
    - name: Check for trailing spaces
      run: |
        find "(" -name "*.cs" -or -name "*.lua" -or -name "*.jl" -or -name "*.lang" -or -name "*.xml" -or -name "*.yaml" -or -name "*.yml" -or -name "*.txt" -or -name "*.md" ")" -exec grep -Pl " $" {} \; > matches.txt
        grep "" matches.txt && exit 1 || echo "No trailing space found!"

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5

    - name: Restore with NuGet (Jungle Helper)
      run: dotnet restore Code/JungleHelper.sln

    - name: Build using .NET Core (Jungle Helper)
      run: dotnet build Code/JungleHelper.sln --configuration Release --no-restore

    - name: Upload artifact (Jungle Helper)
      uses: actions/upload-artifact@v5
      with:
        name: JungleHelper
        path: Code/bin/Release/net452/JungleHelper.dll

    - name: Restore with NuGet (Into The Jungle Code Mod)
      run: dotnet restore Z_IntoTheJungleCodeMod/IntoTheJungleCodeMod.sln

    - name: Build using .NET Core (Into The Jungle Code Mod)
      run: dotnet build Z_IntoTheJungleCodeMod/IntoTheJungleCodeMod.sln --configuration Release --no-restore

    - name: Upload artifact (Into The Jungle Code Mod)
      uses: actions/upload-artifact@v5
      with:
        name: IntoTheJungleCodeMod
        path: Z_IntoTheJungleCodeMod/bin/Release/net452/IntoTheJungleCodeMod.dll

    - name: git fetch
      uses: actions/checkout@v6
      with:
        ref: ${{ github.ref }}
        path: latest-repo

    - name: Publish release
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/gh-actions'
      env:
        ZIPNAME: JungleHelper
        GITHUB_SHA: ${{ github.sha }}
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      run: |
        # Does the commit message contain [ci skip]?
        msg=$(git log -n 1 "--format=%B" | head -n 1 | tr -d '\n')
        if [ "$(echo $msg | grep "\[ci skip\]")" != "" ]
        then
            echo "ci skip detected, skipping Discord hook"
            exit
        fi

        # Is the commit being build still the latest commit on the branch?
        if ((cd latest-repo && git rev-parse HEAD) | grep $GITHUB_SHA)
        then
            # Zip out the file, and send it to Discord.
            ZIPNAME=$ZIPNAME-${GITHUB_SHA:0:8}.zip
            PING=" <@&716285608322138132>"
            zip -qq -r $ZIPNAME everest.yaml Code/bin/Release/net452/JungleHelper.* Ahorn Graphics Audio Dialog Loenn MaxHelpingHandWipes DecalRegistry.xml
            url=$(curl -H 'Content-Type: multipart/form-data' -X POST -F "file=@$ZIPNAME" -F "content=$PING **New Jungle Helper update!**" "$DISCORD_WEBHOOK" | jq -r '.attachments[0].url')
            curl -H 'Content-Type: multipart/form-data' -X POST -F "file=@Z_IntoTheJungleCodeMod/bin/Release/net452/IntoTheJungleCodeMod.dll" "$DISCORD_WEBHOOK"
            curl -H 'Content-Type: application/json' -X POST -d "$(jq -n \
                --arg zipname "$ZIPNAME" \
                --arg url "$url" \
                --arg msg "$msg" \
                --arg change_embed "[Click here to see changes in this commit](https://github.com/maddie480/JungleHelper/commit/$GITHUB_SHA)" \
                '{embeds: [{title: "Install \($zipname)", url: "https://0x0a.de/twoclick/?\($url)", description: $msg, fields: [{name: "Changes", value: $change_embed}]}]}' \
            )" "$DISCORD_WEBHOOK"
            echo "$url" > zip.url
        else
            echo "current commit $GITHUB_SHA is not the latest commit on branch, skipping"
        fi

    - name: TAS Check
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/gh-actions'
      env:
        GITHUB_SHA: ${{ github.sha }}
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
      run: |
        if [ -e "zip.url" ]; then
          COMMIT_REF="[\`JungleHelper@${GITHUB_SHA:0:8}\`](<https://github.com/maddie480/JungleHelper/commit/${GITHUB_SHA}>)"
          docker run --rm max480/everest:tas-check JungleHelper "`cat zip.url`" \
              && curl -H 'Content-Type: application/json' -d "{\"content\": \":white_check_mark: TAS Check for ${COMMIT_REF} successful.\"}" "$DISCORD_WEBHOOK" \
              || (curl -H 'Content-Type: application/json' -d "{\"content\": \":x: TAS Check for ${COMMIT_REF} failed!\"}" "$DISCORD_WEBHOOK" && exit 1)
        fi
